<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

    <title>Document</title>
    <script type='text/javascript'>
        $(document).ready(function() {
        $('#data').DataTable();
        } );
      </script>
</head>
<body>
    <form method="POST" action="/">
        <table id="data" class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nama</th>
                <th scope="col">Asal Sekolah</th>
                <th scope="col">Nomor Telepon</th>
              </tr>
            </thead>
            <tbody>
            {% for result in data %}
                <tr>
                    <th><input type="checkbox" value="{{result['id']}}" name="pilihan"></th>
                    <td>{{result['nama']}}</td>
                    <td>{{result['asal_sekolah']}}</td>
                    <td>{{result['nomor_telepon']}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="submit">
    </form>

</body>
</html>