{% extends "base.html" %}
{% block title%}Data Penerima Surat Undangan{% endblock%}

{% block content %}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Data Penerima Surat Undangan</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data Penerima Surat Undangan</h6>
    </div>
    <div class="card-body">
        <form method="POST" action="/datapenerima">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nama</th>
                        <th>Asal Sekolah</th>
                        <th>Nomor Telepon</th>
                        <th>Email</th>
                        <th>Status Pengiriman Pesan</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Nama</th>
                        <th>Asal Sekolah</th>
                        <th>Nomor Telepon</th>
                        <th>Email</th>
                        <th>Status Pengiriman Pesan</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if data%}
                    {% for result in data %}
                    <tr>
                        <th><input type="checkbox" value="{{result['id']}}" name="pilihan"></th>
                        <td>{{result['nama']}}</td>
                        <td>{{result['asal_sekolah']}}</td>
                        <td>{{result['nomor_telepon']}}</td>
                        <td>{{result['email']}}</td>
                        <td>{{result['status']}}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="far fa-envelope"></i>
                </span>
                <span class="text">Kirim Broadcast</span>
            </button>
        </div>
        </form>
    </div>
</div>


{% endblock %}
{% block end %}
<script type="text/javascript">
    $(document).ready(function() {
      $('#dataTable').DataTable({
          dom: 'Bfrtip',
          buttons: [
              'copy', 'excel', 'pdf'
            ]
        });
    });
</script>
{% endblock %}